@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: white;
    --cor1: black;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--fonte-padrao);
}

table {
    width: 300px;
    margin: auto;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

p {
    text-align: center;
}