@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: white;
    --cor1: black;

    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
    height: 99vh;
    font-family: var(--fonte-padrao);
    background-color: black;
    background-image: url(../image/wallpaper002.jpg);
    background-size: cover;
    /* 
    cover não mostra a imagem toda mas ele ocupa toda a viewport.
    Tipos de background-size: 
    Tipos de background-size:auto;
    background-size: contain;
    background-size: cover;
    background-size: 1000px;
    background-size: 100% 100%;
    */
}

main {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border:  1px solid darkblue;
    border-radius: 15px;
}

