@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;  
}

:root {
    --cor0: white;
    --cor00: black;

    --font-padrão: font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;   /* vh */
    width: 100vw;    /* vw */
    background-color: black;
}

body {
    background: url(../image/fundo-madeira.jpg) no-repeat top center; /* shorthand background */
    background-size: cover; /* preencher a tela inteira */
    background-attachment: fixed; /* sem rolagem */
}


main {
    position: relative; /* para centralizar sem afetar o outro item */
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* alinhamento de caixas centro a centro junto com a main relative + absolute*/

    height: 627px;
    width: 311px;
    background: url(../image/frame-iphone.png) no-repeat;
    /* foi posta a cor azul no celular e o tamanho  da imagem foi visto no gimp */
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.401);
    box-sizing: border-box; /* faz a borta se unir com o objeto */
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px); /* -3 para esquerda e -3 para cima  */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);   /* sombra para representar movimento */
    transition: transform 0.3s, border 1s; /* suavizando os botões com time ligando a bordas como uma luz*/
}