/* resset css */

div#aescutaSom {
    font: normal 20px Arial;
    background: rgb(0, 78, 0);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;

}