@charset "UTF-8";
 /* MOBILE FIRST */

 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* junta a borda com a box e faz só um cálculo */
}

:root {
    --cor0: white;
    --cor00: black;
    --verde09d: #49a09d;
    --lilasc82: #5f2c82;
}
   
html, body {
    background-color: var(--lilasc82);
    width: 100vw; /* sempre vw */
    height: 100vh; /* sempre vh */
}

main {
    position: relative;
    /* centralizar modo antigo */
    width: 100vw;
    height: 100vh;
    /* main de tela cheia */
}

/* centralizando uma box  */
section#login {
    position: absolute; /* preparando para mover no meio da tela 50%x50% */
    top: 50%; /* a box desceu */
    left: 50%; /* a box foi para direita */
    transform: translate(-50%, -50%); /* volta metade para cima e volta metade para esquerda centralizando  */
    background-color: var(--cor0);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    /* ANIMAÇÃO DE EFEITO SUAVE  */
    transition: width 0.3s, height 0.3s;
    /* SUAVISAR A VELOCIDADE DO EFEITO */
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block; /* para colocar as diver uma do lado da outra */
    background: var(--lilasc82) url(../image/pexels-bruno-thethe-2747596\(1\).jpg) no-repeat;
    background-size: cover; /* preencher o espaço com a foto  */
    background-position: left bottom; /* ajustar o que vai aparecer da foto */
    border-radius: 20px 20px 0px 0px;
    height: 250px;
}

section#login > div#formulario {
    display: block; /* para colocar as diver uma do lado da outra */
    padding: 10px;
    /* essa configuração não vai mudar nada visual, mas vale apena estrategicamente */
}

div#formulario > h1 {
    text-align: center; /* centralizndo o h1 */
    margin-bottom: 10px; /* separando o h1 das letras de baixo */
}

div#formulario > p {
    font-size: 0.8em;
}