@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&display=swap');
/*  font-family: 'Bebas Neue', cursive;
    font-family: 'Bungee Spice', cursive; */

@font-face {
    font-family: "idroid";
    src: url("../fontes/idroid.otf") format("opentype"), url("fontes/idroid.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    /* para os dois formatos otf e ttf 
     nesse caso só temos otf mas deixei o outro para consulta */
    }

@font-face {
    font-family: "Droid-Robot";
    src: url("../fontes/doridrobot.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    /* Bugdroid: https://www.dafont.com/pt/droid-robot.font */
    }

* {
    margin: 0px;
    padding: 0px;
}
        
    :root {
        --cor0: #55E65C;
        --cor1: #0FE01A;
        --cor2: #0CAD14;
        --cor3: #246127;
        --cor4: #07610B;
        --cor5: #063d10;    
        /* cores Monocromático: */
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-idroid: "idroid", cursive;
    --fonte-droidRobot: "Droid-Robot", cursive;
    }

body {
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to right, var(--cor4), var(--cor2), var(--cor0));
    margin: 0px;
   } 

   a.externo::after {
    content:  "\00A0\🔗";
   }

   header {
    background-image: linear-gradient(to bottom, var(--cor4), (--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    /* descolando do navegador sem vazar */
   }

   header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    /* 3em = 48px */
    font-weight: normal;
    /* muda pouca coisa  */
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    /* sombra no texto do título */
   }

   header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
   }

   nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.360);
   }

   nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
   }

   nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    }

   main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0, 0, 0, rgba(0, 0, 0, 0.418);
    /* centralizando e limitando o conteúdo principal */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* arrendondar apenas as bordas de baixo  */
   }

   main h1 {
    color: var(--cor4);
    font-family: var(--fonte-idroid);
   }

   main h2 {
    font-family: var(--fonte-idroid);
    color: var(--cor5);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 8px;
   }

   main p {
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    /* separando os títulos dos parágrafos  */
    font-size: 1em;
    font-weight: normal;
    line-height: 2em;
    /* altura das linhas */
   }

   main strong {
    color: var(--cor4);
    font-weight: bold;
   }

   main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor0);
    padding: 2px 6px;
   }

   main a:hover{
    text-decoration: underline;
    color: var(--cor4);
   }

   main img {
    width: 100%;
   }

   main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
    /* convertanfo img inline para bloco se não a img não centraliza */
   }

   div.video {
    background-color: var(--cor5);
    /* fundo sobreposto do video */
    /* margin-bottom: 30px;
    separando do conteúdo de baixo  */
    margin: 0px -20px 30px -20px;
    /* esticando a div no comprimento da main */
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
    /* ajusta o video */
    }

    div.video > iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    } 
    /* ajustando o o viedo que veio no link do you tube */

   h2 {
    color: var(--cor3);
    font-family: var(--fonte-idroid);
   }

   aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    /* border: black solid 1px; */
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
   }

   aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
   }

   aside > ul {
    list-style-type: "\✔️\00A0\00A0";
    /* emojipedia: https://emojipedia.org/check-mark/ 
    "\✔️\00A0\00A0" significa espaço nem todos os navegadores aceitam*/
    list-style-position: inside;
    /* marcadores das lista para dentro  */
    columns: 2;
   }

   footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
   }

   footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
   }

   footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
   }

   /* google colorido */
   main strong.google-g1 {
    color: rgb(36, 109, 235);
   }

   main strong.google-o1 {
    color: rgb(220, 72, 52);
   }

   main strong.google-o2 {
    color: rgb(249, 208, 90);
   }

   main strong.google-g2 {
    color: rgb(39, 115, 244);
   }

   main strong.google-l {
    color: rgb(0, 153, 87);
   }

   main strong.google-e {
    color: rgb(216, 68, 47);
   }

   main strong.google-g1:hover {
    color: blue;
    }

    main strong.google-o1:hover {
    color: red;
    }

    main strong.google-o2:hover {
    color: yellow;
    }

    main strong.google-g2:hover {
    color: blue;
    }

    main strong.google-l:hover {
        color: green;
        }

   main strong.google-e:hover {
    color: red;
    }

    strong {
        transition-duration: 0.1s;
    }
